<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.adempiere.base.IColumnCallout">
      <callout
            class="org.budget.callout.BudgetConfig"
            columnName="GL_Budget_Previous_Year"
            tableName="GL_BudgetConfig">
      </callout>
      <callout
            class="org.budget.callout.BudgetConfig"
            columnName="GL_Budget_Previous_Month"
            tableName="GL_BudgetConfig">
      </callout>
   </extension>
   <extension
         id="org.idempiere.budget.GenerateBudget"
         name="Generate Budget Journal"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.budget.GenerateBudget">
      </process>
   </extension>

</plugin>
